<h1>SLAVE UNIT RAILS APP 1.0</h1>
<h2>Contact</h2>
<p>Here's one of my first nicks at the iceberg, one of my first steps in this ratrace..</p>
<p>Find this in app/views/static_pages/contact.html.erb</p>
