

<div class="contact-wrapper">
	<div class="contact-inner">
	<div class="contact-logo visible-lg-block visible-md-block">
  		<%= image_tag ("logo-big-no-border.jpg") %> 
  	</div>
	<div class="contact-title"><h2>CONTACT</h2></div>
	<div class="contact-paragraph">
		<h3>EMAIL:</h3>
		<a href="mailto:slav3unit@gmail.com"><p>SLAV3UNIT@GMAIL.COM</p></a> 
		<h3>Follow me on:</h3>
		<a href="http://facebook.com/slav3unit"><%= image_tag ("fb contact.png") %></a>
		<a href="https://www.flickr.com/photos/gracinhamarco/"><%= image_tag ("flickr contact.png") %></a>
		<a href="http://slav3unit.bandcamp.com"><%= image_tag ("bc contact.png") %></a>
	</div>

	

</div>

</div>
