<div class="index-wrapper">
<!-- HERO IMAGE -->
<div class="top visible-lg-block visible-md-block">
  <div class="layer img1"></div>
  <div class="layer img2"></div>
  <div class="overlay">
  	<%= image_tag ("logo-big-no-border.jpg") %> 
  </div><!-- end overlay -->
</div><!-- end top -->
<!-- END HERO IMAGE -->

<!--HERO IMAGE MOBILE -->
<div class="hero-mobile visible-xs-block visible-sm-block">
  <%= image_tag("SU Logo Hero Mobile.jpg", :class => "img-responsive") %>
</div>
<!--END HERO IMAGE MOBILE -->
</div>