<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>Slave Unit Apparel</title>

  </head>
  <body>
    <div class="top">
      <div class="layer img1"></div>
      <div class="layer img2"></div>
      <div class="overlay">
      	<%= image_tag ("logo-big.jpg") %> 
      </div><!-- ind overlay -->
    </div><!-- end top -->
    
  </body>

</html>
