<form action="" method="POST">
  <script
    src="https://checkout.stripe.com/checkout.js" class="stripe-button"
    data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
    data-amount="2000"
    data-name="SLAVE UNIT APPAREL CO."
    data-description="Show Me the Money"
    data-image="/128x128.png"
    data-locale="auto">
  </script>
</form>