<div class="store-wrapper">
	<div class="store-inner">

		<div class="orders-main">
			<h2>Bulk orders:</h2>
			<p>(Yeah, I wish I'll be having bulk orders. lol)</p>	  	
	  	</div>

 </div><!-- end store inner --> 
</div><!-- end store wrapper -->