<div class="about-wrapper">

	<div class="about-inner visible-md-block visible-lg-block">
		<h1>Shopping Cart</h1>
		<h3>Available Late 2016</h3>
		<div class="shopping-cart">
			<%= render partial: "shopping_cart", locals: {order_items: @order_items} %>
		</div>
	</div>

	<div class="about-inner-sm visible-xs-block visible-sm-block">
		<h1>Shopping Cart</h1>
		<h3>Available Late 2016</h3>
		<div class="shopping-cart">
			<%= render "shopping_cart" %>
		</div>
	</div>

</div>

