// Place all the styles related to the products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.store-wrapper {
	background-color: white;
}

.store-indivproduct {
 	width: 100%; 
	height: 1000px;
    overflow-y: scroll;
    background-color: white;
}

.store-indivproductinner {
 	width: 90%; 
 	margin: auto;
}

.store-indivproduct-notice {
	padding-top: 5%;
}

.store-indivproduct h2 {
  	font-family: 'Share Tech Mono', sans-serif;
  	font-size: 200%;
  	color: gray; 
}

.store-indivproduct-name h1 {
    font-family: 'Michroma', sans-serif;
  	font-size: 275%;
  	color: black; 
  	padding-bottom: 3%;
}

.store-indivproduct-photo {
	padding-top: 5%;
	padding-bottom: 5%;
}

.store-indivproduct-name store-inner h1 {
  	padding: 0;
}

.store-indivproduct-desc p {
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-size: 150%;
	padding-bottom: 3%;
	color: black;
}

.store-indivproduct-color p {
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-size: 150%;
	color: black;
	padding-bottom: 3%;
}

.store-indivproduct-price p {
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-size: 150%;
	color: black;
	padding-bottom: 3%;	
}




.store-indivproduct-buttons {
	padding-top: 8%;
	padding-bottom: 30%;
}

.store-table {
	margin: 0;
}

th, td {
	padding-right: 5%;
}

th {
	font-family: 'Share Tech Mono', sans-serif;
	font-size: 200%;	
	padding-bottom: 3%;
	line-height: 100%;
}

td {
	padding-bottom: 1%;
}

.store-product-name {
	width: 30%;
}



/* PRODUCTS INDEX MOBILE */
.products-index-sm {
	padding-top: 45%;
	padding-bottom: 100%;
}

.products-index-title-sm {
	padding-top: 25%;
	padding-bottom: 50%;
}

.products-index-title-sm{
	padding-top: 25%;
	padding-bottom: 50%;
}

.products-index-title-sm h1 {
	font-family: 'michroma', sans-serif;
	font-size: 225%;	
	color: black;
}

.products-index-title-sm h2 {
	font-family: 'michroma', sans-serif;
	font-size: 150%;	
	color: gray;
}

.products-index-title-sm h3 {
text-align: left;
}



.product-index-sm h1 {
	font-family: 'Share Tech Mono', sans-serif;
	font-size: 225%;	
	color: black;
}

.product-index-sm h3 {
	font-family: 'verdana', sans-serif;
	font-size: 125%;	
	color: black;
	text-align: left;
}

.product-index-sm p {
	font-family: 'verdana', sans-serif;
	font-size: 125%;	
	color: black;
}

.product-index-sm h5 {
	text-align: center;
	font-family: 'Share Tech Mono', sans-serif;
	font-size: 200%;
	color: black;
}

/* PRODUCTS INDEX MOBILE */