// Place all the styles related to the static_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
	background-color: black;
}

h1 {
	color: red; 
	font-family: 'Michroma', sans-serif;
	font-size: 320%;
  padding-bottom: 3%;
}

h2 {
	color: red;
	font-family: 'Michroma', sans-serif;
}

h3 {
  color: red;
  font-family: 'Michroma', sans-serif;
}

p {
	color: gray;
	font-family: consolas, sans-serif;
  font-size: 150%;
}




/*NAVBAR*/
#nav {
    top: 0;
    background-color: black;
    position: fixed;
    width: 100%;
    height: 43px;
    opacity: 0.75;
    z-index: 6
}

/*NAVBAR LOGO GLITCH*/
.navhome {
    background-image: asset-data-url("logo-nav-glitch.jpg");
    background-repeat: no-repeat;
}

#navhome img:hover {
    opacity: 0;
}
/*NAVBAR LOGO GLITCH*/

.navbar {
    height: 43px
}

.navhome {
    width: 20%;
    float: left;
    margin-top: 4px
}

.menu {
    width: 70%;
    display: inline-block;
}

.navbar-collapse {
    float: right;
}

.nav li a {
    margin-left: 1em;
    margin-right: 1em
}

.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:focus, .navbar-inverse .navbar-nav>.active>a:hover {
    color: orange;}

.nav a {
    transition: color 950ms;
}
/*NAVBAR*/





/*FOOTER*/
#footer-lg {
  z-index: 2;
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 25px;
}

.fb-like {
  float: left;

  height: 50px
}

.socialfooter {
  width: 10%;
  float: left;
 
  height: 50px;
  padding-left: 4px;
}

.socialfooter img {
  padding-left: 6px;
}

.footerlogo {
  width: 50%;
  height: 50px;
  display: inline-block;
    float: right;
    font-family: 'Share Tech Mono', sans-serif;
    font-size: 175%;
}

#footer-lg .footerlogoinside {
  float: right;
  padding-right: 5%;
}

#footer-lg .footerlogoinside p {
  font-family: 'Share Tech Mono', sans-serif;
  font-size: 55%;
  color: lightgray;
}



/*FOOTER MOBILE*/
#footer-sm {
  text-align: right;
  padding-bottom: 0;
  width: 98%;
  margin-top: 100%;
  position: fixed;
  bottom: 0;
}

.footerlogo-sm .footerlogoinside p {
  padding-bottom: 0;
  color: gray;
  font-family: 'Share Tech Mono', sans-serif;
}

.socialfooter-sm {
  padding-left: 0;
  padding-right: 0;
 
}

.footerlogo-sm {
  padding-left: 0;
  padding-right: 0;
  text-align: right;
}


/*FOOTER*/






/* BGMOUSEMOVEPARALLAX
Most of this code I got from:
http://www.jqueryscript.net/animation/Create-Interactive-Moving-Objects-with-jQuery-CSS3-bgMouseMove.html
and I edited. */

body {
  overflow: hidden;
}

.layer {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  padding: 50px 200px;
  margin: -50px -200px;
  left: 0px;
  top: 0px;
}

.img1 {
  background: asset-data-url("drumsyn.jpg");
  z-index: 1;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  transform-style: preserve-3d;
  height: 1000px;

}

.overlay {
  text-align: center;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 5;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.28); 
}

.overlay img {
  margin-top: 19%;
}

/* End BGMOUSEMOVEPARALLAX */





/* HERO IMAGE MOBILE */
.hero-mobile {
  padding-top: 15%;
}
/* END HERO IMAGE MOBILE */




/* STORE */
.store-wrapper {
  background-color: white;
  padding-bottom: 30em;
  overflow: scroll;
  height: 900px;
  
}

.store-inner {
  width: 90%;
  margin: auto;
  }


.store-inner h1 {
  padding-top: 5%;
  padding-bottom: 5%;
}

.store-inner h1, h2, h3 {
  color: gray;
}

.store-inner h3 {
  padding-bottom: 5%;
}

.store-item {
  padding-bottom: 25%;
  text-align: center;
}

.store-last-item {
  text-align: center;
}

/* END STORE */




/* ABOUT */
.about-wrapper {
  overflow: scroll;
  height: 1000px;

}
.about-inner {
width: 90%;
  margin: auto;
  }


.about-logo {
  padding-top: 20em;
  padding-bottom: 35em;
  text-align: center;
}

.about-inner h1 {
  padding-top: 5%;
}
/* END ABOUT */


/* CONTACT */
.contact-wrapper {
  height: 1000px;
  padding-top: 8em;
}

.contact-inner {
  width: 90%;
  margin: auto;
  text-align: center;
}

.contact-logo {
  padding-bottom: 5em;
  text-align: center;
}

.contact-inner h1 {
  padding-top: 5%;
}

.contact-title h2 {
  color: white;
}
/* END CONTACT */


