// Place all the styles related to the static_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
	background-color: black;
}

h1 {
	color: red; 
	font-family: 'Michroma', sans-serif;
	font-size: 320%;
}

h2 {
	color: yellow;
	font-family: consolas, sans-serif;
}

p {
	color: orange;
	font-family: consolas, sans-serif;
}



/*NAVBAR*/
#nav {
    top: 0;
    background-color: black;
    position: fixed;
    width: 100%;
    height: 43px;
    opacity: 0.75;
    z-index: 6
}

/*NAVBAR LOGO GLITCH*/
.navhome {
    background-image: asset-data-url("logo-nav-glitch.jpg");
    background-repeat: no-repeat;
}

#navhome img:hover {
    opacity: 0;
}
/*NAVBAR LOGO GLITCH*/

.navbar {
    height: 43px
}

.navhome {
    width: 20%;
    float: left;
    margin-top: 4px
}

.menu {
    width: 70%;
    display: inline-block;
}

.navbar-collapse {
    float: right;
}

.nav li a {
    margin-left: 1em;
    margin-right: 1em
}

.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:focus, .navbar-inverse .navbar-nav>.active>a:hover {
    color: orange;}

.nav a {
    transition: color 950ms;
}
/*NAVBAR*/






/* BGMOUSEMOVEPARALLAX
Most of this code I got from:
http://www.jqueryscript.net/animation/Create-Interactive-Moving-Objects-with-jQuery-CSS3-bgMouseMove.html
and I edited. */

body {
  overflow: hidden;
}

.layer {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  padding: 50px 200px;
  margin: -50px -200px;
  left: 0px;
  top: 0px;
}

.img1 {
  background: asset-data-url("drumsyn.jpg");
  z-index: 1;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  transform-style: preserve-3d;
  height: 65em;

}

.overlay {
  text-align: center;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 5;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.28); 
}

.overlay img {
  margin-top: 18%;
}
