// Place all the styles related to the static_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
	background-color: white;
}

.index-wrapper {
  background-color: black;
}

h1 {
	color: red; 
	font-family: 'Michroma', sans-serif;
	font-size: 400%;
  padding-bottom: 3%;
}

h2 {
	color: red;
	font-family: 'Michroma', sans-serif;
}

h3 {
  color: red;
  font-family: 'Michroma', sans-serif;
}

p {
	color: gray;
	font-family: consolas, sans-serif;
  font-size: 150%;
}





/* NAVBAR */
#nav {
    top: 0;
    background-color: black;
    position: fixed;
    width: 100%;
    height: 43px;
    opacity: 0.75;
    z-index: 6
}

/* NAVBAR LOGO GLITCH */
.navhome {
    background-image: asset-data-url("logo-nav-glitch2.jpg");
    background-repeat: no-repeat;
}

#navhome img:hover {
    opacity: 0;
}
/*NAVBAR LOGO GLITCH*/

.navbar {
    height: 43px
}

.navhome {
    width: 20%;
    float: left;
    margin-top: 4px
}

.menu {
    width: 70%;
    display: inline-block;
}

.navbar-collapse {
    float: right;
}

.nav li a {
    margin-left: 1em;
    margin-right: 1em
}

.nav a {
    transition: color 950ms;
}
/* NAVBAR */





/* FOOTER */
#footer-lg {
  z-index: 2;
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 25px;
  background-color: black;
}

.fb-like {
  float: left;
  height: 50px
}

.socialfooter {
  width: 10%;
  float: left;
  height: 50px;
  padding-left: 4px;
}

.socialfooter img {
  padding-left: 6px;
}

.footerlogo {
  width: 50%;
  height: 50px;
  display: inline-block;
  float: right;
  font-family: 'Share Tech Mono', sans-serif;
  font-size: 175%;
}

#footer-lg .footerlogoinside {
  float: right;
  padding-right: 5%;
}

#footer-lg .footerlogoinside p {
  font-family: 'Share Tech Mono', sans-serif;
  font-size: 55%;
  color: lightgray;
}

/* FOOTER MOBILE */
#footer-sm {
  text-align: right;
  padding-bottom: 0;
  width: 98%;
  margin-top: 100%;
  position: fixed;
  bottom: 0;
  font-size: 50%;
  background-color: black;
}

.footerlogo-sm .footerlogoinside p {
  padding-bottom: 0;
  color: gray;
  font-family: 'Share Tech Mono', sans-serif;
}

.socialfooter-sm {
  padding-left: 0;
  padding-right: 0;
}

.footerlogo-sm {
  padding-left: 0;
  padding-right: 0;
  text-align: right;
}
/* END FOOTER MOBILE */
/* FOOTER */






/* BGMOUSEMOVEPARALLAX
Most of this code I got from:
http://www.jqueryscript.net/animation/Create-Interactive-Moving-Objects-with-jQuery-CSS3-bgMouseMove.html
and I edited. */

body {
  overflow: hidden;
}

.layer {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  padding: 50px 200px;
  margin: -50px -200px;
  left: 0px;
  top: 0px;
}

.img1 {
  background: asset-data-url("drumsyn.jpg");
  z-index: 1;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  transform-style: preserve-3d;
  height: 1000px;

}

.overlay {
  text-align: center;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 5;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.28); 
}

.overlay img {
  margin-top: 19%;
}

/* END BGMOUSEMOVEPARALLAX */





/* HERO IMAGE MOBILE */
.hero-mobile {
  padding-top: 15%;
  height: 1050px;
}
/* END HERO IMAGE MOBILE */






/* FEATURE PAGE */
.featured-main {
  padding-top: 5%;
  padding-bottom: 5%;
}

.featured-main h2 {
  padding-bottom: 1%;
}

.featured-main img {
  padding-bottom: 5%;
}

.featured-main p {
  font-family: consolas, sans-serif;
  font-size: 150%;
  color: black;     
  
}
/* FEATURE PAGE */






/* ORDERS INDEX */
.orders-main {
  padding-top: 5%;
  padding-bottom: 5%;
}

.orders-main h2 {
padding-bottom: 1%;
 color: black; 
}

.orders-main p {
  font-family: consolas, sans-serif;
  font-size: 150%;
  color: gray;     
  
}
/* ORDERS INDEX */







/* STORE */
.store-wrapper {
  background-color: white;
  padding-bottom: 0;
  overflow: scroll;
  height: 900px;
}

.store-inner {
  width: 90%;
  margin: auto;
}

.store-inner h1 {
  padding-top: 5%;
  padding-bottom: 5%;
}

.store-title h1 {
  padding-bottom: 0;
  color: black;
}

.store-title h2 {
  color: gray;
}

.store-inner h3 {
  padding-bottom: 5%;
  text-align: left;
  color: red;
}

.store-item {
  padding-bottom: 25%;
  text-align: center;
}

.store-item img, .store-last-item img  {
  margin: auto;
  padding-bottom: 2%;
}

.store-last-item {
  text-align: center;
  padding-bottom: 30em;
}

.merchandise p {
  color: gray;
  font-family: consolas, sans-serif;
}

.disclaimer {
  text-align: center;
  position: relative;
  bottom: 265px;
}

.disclaimer p {
  font-family: consolas, sans-serif;
  font-size: 80%;
  color: black;  
}


/* MOBILE STORE */
.store-title-sm {
  padding-top: 50%;
  padding-bottom: 80%;
}

.store-title-sm h2, h3 {
  text-align: center;
  font-size: 130%;
}

.store-title-sm h3 {
  text-align: center;
}

.store-title-sm h1 {
  padding: 0;
  text-align: center;
  font-size: 220%;
  color: black;
}
/* END MOBILE STORE */
/* END STORE */




/* ABOUT */
.about-wrapper {
  overflow: scroll;
  background-color: black;
  height: 1050px;
}

.about-inner {
  width: 90%;
  margin: auto;
}

.about-inner h2 {
  color: white;
}

.about-inner h1 {
  padding-top: 5%;
}

.about-paragraph p {
  color: gray;
}

.about-inner-sm {
  width: 90%;
  margin: auto;
}

.about-inner-sm h1 {
  padding-top: 5%;
  font-size: 10%;
}

.about-paragraph-sm p {
  color: gray;
  font-size: 140%;
}

.about-logo-sm img {
  padding-top: 50em;
  padding-bottom: 60em;
  margin: auto;
}

/* ABOUT LOGO GLITCH */
.about-logo {
  background: asset-data-url("logo-big-glitch.jpg") center;
  background-repeat: no-repeat;
  margin-top: 50em;
  margin-bottom: 50em;
}

.about-logo img {
  margin: auto;
}

#about-logo img:hover {
  opacity: 0;
}
/* ABOUT LOGO GLITCH */

/* END ABOUT */





/* CONTACT */
@media screen and (min-width: 376px) {
  .contact-wrapper {
    background: asset-data-url("vigan bw3.jpg");
    background-size: cover;
    background-position: center center;
    height: 1100px;
    padding-top: 8em;
  }
}

@media screen and (max-width: 375px) {
  .contact-wrapper {
    background: asset-data-url("vigan bw sm2.jpg");
    background-size: cover;
    background-position: center center;
    height: 627px;
    padding-top: 6em;
  }
}

/* CONTACT LOGO GLITCH */
.contact-logo {
  background: asset-data-url("logo-big-glitch.jpg") center;
  background-repeat: no-repeat;
}

.contact-logo img {
  margin: auto;
}

#contact-logo img:hover {
  opacity: 0;
}
/* CONTACT LOGO GLITCH */

.contact-inner {
  width: 90%;
  margin: auto;
  text-align: center;
}

.contact-inner {
  height: 100%;
}

.contact-paragraph{
  height: 70%;
}

.contact-inner h1 {
  padding-top: 5%;
}

.contact-title h2 {
  color: white;
}

.contact-paragraph h3, p {
  color: white;
}

.contact-paragraph-sm {
  padding-top: 10%;
}

.contact-paragraph-sm h3{
  color: white;
  font-size: 190%;
}

.contact-paragraph-sm p {
  font-family: consolas, sans-serif;
  color: white;
  font-size: 170%;
}
/* END CONTACT */